* {
  padding: 10px;
}
@media screen and (max-width: 500px) {
  div.gallery {
    width: 100%;
  }
}
body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #f3f3f3;
  padding: 20px;
  text-align: center;
  transition:  1s;
}
footer {
  background-color: #f3f3f3;
  padding: 20px;
  text-align: center;
  transition:  1s;
}
.form {
    width: 60%;
}
footer:hover {
  background-color: gray;
}
header:hover {
  background-color: black;
}
li {
  float: left;
}
a:hover {
  border: 5px solid black;
}
.nav-item a {
  padding: 10px 15px;
  font-size: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.973);
  transition: border 0.3s;
}
.navbar {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

label:hover {
    background-color: darkgray;
}
article{
    display: flex;
    flex-direction: row;
}
.aside {
    width: 40%;
    display: flex;
}

.aside img {
    width: 60%;
    display: flex;
}