body{
    border: .10rem solid black;
}
.menu {
    width: auto;
    height: 5rem;
    background-color: whitesmoke;
    border: .10rem solid black;
}

.menu ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a {
    text-decoration: none;
    color: #666;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li a:hover {
    background-color: #666;
    color: #ccc;
}

.main {
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    background-color: #e1d9d1;
}
.main figure img {
    width: 20rem;
    box-shadow: .2rem .1rem .5rem .4rem #888;
}
.main figure figcaption {
    font-size: 1.25rem;
}

.main section {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.main section h1 {
    font-size: 2.2rem;
    margin: 2rem 0 0 0;
}

.main section h2 {
    padding: .2rem;
}

.main section button {
    appearance: none;
    border: .10rem solid black;
    font-size: 1rem;
    background-color: #fff;
    color: black;
    padding: .75rem 1rem;
    margin: auto 0 0 auto;
}

p.indent{
    text-indent: 2rem;
}

.title{
    display: flex;
    justify-content: left;
    padding-left: 4rem;
    align-items: center;
    text-decoration: underline;
    background-color: #e1d9d1;
} 
.grid {
    background-color: #e1d9d1;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.grid > div {
    display: flex; 
    flex-basis: calc(25% - 40px);  
    justify-content: center;
    flex-direction: column;
}
.grid > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.grid img {
    width: 22rem;
    height: 15rem;
    box-shadow: .2rem .1rem .5rem .4rem #888;
    margin: 2rem
}

.grid h3 {
    font-size: 1.75rem;
}

.grid p {
    font-size: 1rem;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #e1d9d1;
}

h2 {
    display: flex;
    justify-content: left;
    padding-left: 4rem;
    align-items: center;
    text-decoration: underline;
}
.contact figure img {
    width: 25rem;
    box-shadow: .2rem .1rem .5rem .4rem #888;
}

.contact section fieldset{
    display: flex;
    width: 80rem;
    background-color: whitesmoke;
    box-shadow: .2rem .1rem .5rem .4rem #888;
}

.footer{
    height: 6rem;
    display: flex;
    background-color: black;
}

.footer address{
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footer img {
    height: 5rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}